<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.market.Dao.ShopRecommendMapper">
    <select id="getShopRecommendList" resultType="com.example.market.bean.ShopRecommend">
        select * from shoprecommend;
    </select>

    <delete id="deleteShopRecommend">
        delete * from shoprecommend where recommendId=#{recommendId}
    </delete>

    <select id="getShopRecommend" resultType="com.example.market.bean.ShopRecommend">
        select * from shoprecommend where recommendId=#{recommendId}
    </select>

    <insert id="insertShopRecommend" parameterType="com.example.market.bean.ShopRecommend">
        insert into user (shopId,shopName,shopNo,shopImage,description,price,shopCount,typeId,typeName) VALUES (#{shopId},#{shopName},#{shopNo},#{shopImage},#{description},#{price},#{shopCount},#{typeId},#{typeName})
    </insert>
</mapper>